*{
    margin: 0px;
    padding: 0px;
}
header {
    background-color: lightcyan;
    height: 50px;
    font-size: 16px;
    color: black;
}
#dautrang {
    padding-left: 250px;
    padding-top: 20px;
    padding-bottom: 100px;
}
#dautrang1 {
    list-style-type: none;
}
header div ul li {
    float: left;
}
#hotline {
    padding-left: 10px;
}
header div ul li a {
    text-decoration: none;
    font-weight: bold;
}
#mail {
    padding-left: 10px;
}
#dautrang2 {
    list-style-type: none;
}
#icons {
    float: right;
    padding-right: 150px;
}
#ba {
    font-family: sans-serif;
    font-size: 16px;
}
#bon {
    font-family: sans-serif;
    font-size: 16px;
}
section.menu {
    background-color: lightgrey;
}
section.menu > ul {
display: flex;
padding-left: 450px;

}
section.menu > ul > li {
list-style-type: none;
border-right: 2px solid blue;
}
 
section.menu > ul > li > a {
text-decoration: none;
display: block;
min-width: 100px;
text-align: center;
padding: 15px;
font-weight: bold;
}
section.menu > ul > li > a:hover {
background-color: black;
color: white;
}
#doivoichungtoi {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: blueviolet;
    margin-top: 20px;
    padding: 20px;
    font-family: cursive;
}
#minhnhut {
    margin-left: 80px;
}
#minhnhut1 {
    padding: 20px;
    font-size: 18px;
    
}
#minhnhut2 {
    padding: 20px;
    font-size: 18px;
}
#minhnhut3 {
    padding: 20px;
    font-size: 18px;
}
#vechungtoi {
   background-color: cadetblue;
    clear: both;
    width: 100%;
}
footer {
    background: black;
    clear: both;
    color: lightgray;
    margin-top: 132px;
}
footer table {
    width: 90%;
    margin: 0 auto;
}
footer table tbody tr:first-child {
    height: 40px;
    font-weight: bold;
}
.thongtin {
    padding-top: 50px;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
#hinhanh {
    width: 200px;
    margin-top: 20px;
}
.col1 {
    width: 40%;
}
.col2 {
    width: 100%;
    margin-left: 35px;
}
#hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.col3 {
    margin-left: 170px;
    display: flex;
}
.col3 >hr {
    height: 2px;
}
.classhinhanh {
    display: block;
    width: 50%;
}
#appstore {
    margin-top: 62px;
}
#googleplay {
    margin-top: 65px;
}
#ungdungyocar {
    font-size: 16px;
    margin-top: 10px;
}
#maqr {
    margin-top: 30px;
}
